
<% if @over_5 %>
 <%= link_to 'Show All', '?m=all', class: 'btn btn-link pull-right' %>
<% end %>






<div class="container mt-5">
   <% @messages.each do |message| %>
    <% if message.body %>
    <% account = Account.find(message.account_id) %>
      <% if current_account.id == message.account_id %>
        <div class="message text-end">
          <div class="user-info">
            
            <p><%= account.full_name %><%= message.message_time %></p>
          </div>
          <p><%= message.body %></p>
        </div>
      <% else %>
        <div class="message">
          <div class="user-info">
            <%= profile_picture(account, 50) %>
            <p><%= account.full_name %><%= message.message_time %></p>
          </div>
          <p><%= message.body %></p>
        </div>
      <% end %>
    <% end %>
   <% end %>
  <%= form_for [@conversation, @message] do |f| %>
      <%= f.text_area :body, class: "form-control" %>
      <%= f.text_field :account_id, value: current_account.id, type: "hidden" %>
      <%= f.submit "Send Reply", class: "form-control btn btn-success mt-3" %>
  <% end %>
</div>

