<% posts.each do |post| %>
                        <div class="col">
                            <div class="card shadow-sm">
                                <%= link_to blog_path(post) do %>
                                    <%= blog_thumbnail(post) %>
                                <% end %>
                                <div class="card-body">
                                    <%= link_to blog_path(post), class: "text-decoration-none text-dark text-capitalize" do %>
                                        <h5><%= post.title %></h5>
                                    <% end %>
                                <p class="card-text"><%= post.summary %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <%= link_to "Read more", blog_path(post), class: "btn btn-success" %>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                    <% end %>