<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Real Estate & Property Market News</h1>
        <p class="lead text-muted">The latest real estate and property market news from our team of industry leading professionals</p>
      </div>
    </div>
  </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <% if @posts.empty? %>
                    <p class="h4">No posts to display.</p>
                <% else %>
                    <% @posts.each do |post| %>
                        <div class="col">
                            <div class="card shadow-sm">
                                <%= link_to blog_path(post) do %>
                                    <%= blog_thumbnail(post) %>
                                <% end %>
                                <div class="card-body">
                                    <%= link_to blog_path(post), class: "text-decoration-none text-dark text-capitalize" do %>
                                        <h5><%= post.title %></h5>
                                    <% end %>
                                <p class="card-text"><%= post.summary %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <%= link_to "Read more", blog_path(post), class: "btn btn-primary" %>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>


</main>
