<main class="container mt-3">
  <div class="row g-5">
    <div class="col-md-10">

      <article class="blog-post mt-5">
        <h2 class="blog-post-title"><%= @blog.title %></h2>
        <p class="blog-post-meta">Posted <%= time_ago_in_words @blog.created_at %> ago</p>
        <p><%= @blog.summary %></p>
        <hr>
        <%= image_tag @blog.image, class: "mt-4 mb-4", style: "max-height: 50vh;" %>
        <p><%= simple_format @blog.body %></p>
      </article>
      <%= link_to "Check out other posts" , news_path, class: "btn btn-primary mb-5" %>
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
</main>



