<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">  
          <% if current_account.admin? %>
            <%= render "layouts/etc/navbar/type/admin" %>
          <% end %>
          <% if current_account.role == "seller" %>
            <%= render "layouts/etc/navbar/type/seller" %>
          <% end %>

          <%= render "layouts/etc/navbar/type/user" %>
          
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Settings</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <% if current_account.role == "seller" %>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <%= link_to "My Profile", profile_path(current_account), class: "nav-link" %>
              </a>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Edit Profile", edit_account_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_account_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
